header {
  background-image: url(../images/bg7-scaled.jpg)!important ;   
  background-size: cover;
  background-position: center;
}

.my-clients .clients, .aboutMe .about {
  display: flex;
  gap: 1.3rem;
  flex-wrap: wrap;
  line-height: 1.3;
}

.l-btn, .r-btn {
  font-size: 2rem;
  color: rgba(51, 51, 51, 0.678);
  background-color: transparent;
  border: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%);
}

.none {
  display: none !important;
}

.margin-r {
  margin-right: 1rem;
  transition: 0.4s;
}
.margin-r:hover {
  color: #e4b96c;
}

.active {
  color: #e4b96c !important;
  position: relative;
}
.active a {
  color: #e4b96c !important;
}
.active::after {
  content: "";
  position: absolute;
  bottom: -0.3rem;
  width: 1rem;
  height: 1px;
  background-color: #e4b96c;
  left: 50%;
  transform: translate(-50%);
}

.div-1 {
  background-image: url("../images/photo1.jpg");
  background-size: cover;
  background-position: center;
}
.div-1 h1 {
  width: 65%;
  font-size: 3rem;
}
.div-1 h1 span {
  color: #e4b96c;
}

.div-2 {
  background-image: url("../images/photo2.jpg");
  background-size: cover;
  background-position: center;
}
.div-2 h1 {
  width: 65%;
  font-size: 3rem;
}
.div-2 h1 span {
  color: #e4b96c;
}

.div-3 {
  background-image: url("../images/photo3.jpg");
  background-size: cover;
  background-position: center;
}
.div-3 h1 {
  width: 65%;
  font-size: 3rem;
}
.div-3 h1 span {
  color: #e4b96c;
}

.div-4 {
  background-image: url("../images/photo4.jpg");
  background-size: cover;
  background-position: center;
}
.div-4 h1 {
  width: 65%;
  font-size: 3rem;
}
.div-4 h1 span {
  color: #e4b96c;
}

.div-5 {
  background-image: url("../images/photo5.jpg");
  background-size: cover;
  background-position: center;
}
.div-5 h1 {
  width: 65%;
  font-size: 3rem;
}
.div-5 h1 span {
  color: #e4b96c;
}

.div-6 {
  background-image: url("../images/photo6.jpg");
  background-size: cover;
  background-position: center;
}
.div-6 h1 {
  width: 65%;
  font-size: 3rem;
}
.div-6 h1 span {
  color: #e4b96c;
}

.div-7 {
  background-image: url("../images/photo7.jpg");
  background-size: cover;
  background-position: center;
}
.div-7 h1 {
  width: 65%;
  font-size: 3rem;
}
.div-7 h1 span {
  color: #e4b96c;
}

.div-8 {
  background-image: url("../images/photo8.jpg");
  background-size: cover;
  background-position: center;
}
.div-8 h1 {
  width: 65%;
  font-size: 3rem;
}
.div-8 h1 span {
  color: #e4b96c;
}

.div-9 {
  background-image: url("../images/photo9.jpg");
  background-size: cover;
  background-position: center;
}
.div-9 h1 {
  width: 65%;
  font-size: 3rem;
}
.div-9 h1 span {
  color: #e4b96c;
}

.div-10 {
  background-image: url("../images/photo10.jpg");
  background-size: cover;
  background-position: center;
}
.div-10 h1 {
  width: 65%;
  font-size: 3rem;
}
.div-10 h1 span {
  color: #e4b96c;
}

.div-11 {
  background-image: url("../images/photo11.jpg");
  background-size: cover;
  background-position: center;
}
.div-11 h1 {
  width: 65%;
  font-size: 3rem;
}
.div-11 h1 span {
  color: #e4b96c;
}

.div-12 {
  background-image: url("../images/photo12.jpg");
  background-size: cover;
  background-position: center;
}
.div-12 h1 {
  width: 65%;
  font-size: 3rem;
}
.div-12 h1 span {
  color: #e4b96c;
}

.div-13 {
  background-image: url("../images/photo13.jpg");
  background-size: cover;
  background-position: center;
}
.div-13 h1 {
  width: 65%;
  font-size: 3rem;
}
.div-13 h1 span {
  color: #e4b96c;
}

.div-14 {
  background-image: url("../images/photo14.jpg");
  background-size: cover;
  background-position: center;
}
.div-14 h1 {
  width: 65%;
  font-size: 3rem;
}
.div-14 h1 span {
  color: #e4b96c;
}

.div-15 {
  background-image: url("../images/photo15.jpg");
  background-size: cover;
  background-position: center;
}
.div-15 h1 {
  width: 65%;
  font-size: 3rem;
}
.div-15 h1 span {
  color: #e4b96c;
}

.div-16 {
  background-image: url("../images/photo16.jpg");
  background-size: cover;
  background-position: center;
}
.div-16 h1 {
  width: 65%;
  font-size: 3rem;
}
.div-16 h1 span {
  color: #e4b96c;
}

.div-17 {
  background-image: url("../images/photo17.jpg");
  background-size: cover;
  background-position: center;
}
.div-17 h1 {
  width: 65%;
  font-size: 3rem;
}
.div-17 h1 span {
  color: #e4b96c;
}

.div-18 {
  background-image: url("../images/photo18.jpg");
  background-size: cover;
  background-position: center;
}
.div-18 h1 {
  width: 65%;
  font-size: 3rem;
}
.div-18 h1 span {
  color: #e4b96c;
}

.div-19 {
  background-image: url("../images/photo19.jpg");
  background-size: cover;
  background-position: center;
}
.div-19 h1 {
  width: 65%;
  font-size: 3rem;
}
.div-19 h1 span {
  color: #e4b96c;
}

.div-20 {
  background-image: url("../images/photo20.jpg");
  background-size: cover;
  background-position: center;
}
.div-20 h1 {
  width: 65%;
  font-size: 3rem;
}
.div-20 h1 span {
  color: #e4b96c;
}

.div-21 {
  background-image: url("../images/photo21.jpg");
  background-size: cover;
  background-position: center;
}
.div-21 h1 {
  width: 65%;
  font-size: 3rem;
}
.div-21 h1 span {
  color: #e4b96c;
}

.div-22 {
  background-image: url("../images/photo22.jpg");
  background-size: cover;
  background-position: center;
}
.div-22 h1 {
  width: 65%;
  font-size: 3rem;
}
.div-22 h1 span {
  color: #e4b96c;
}

.div-23 {
  background-image: url("../images/photo23.jpg");
  background-size: cover;
  background-position: center;
}
.div-23 h1 {
  width: 65%;
  font-size: 3rem;
}
.div-23 h1 span {
  color: #e4b96c;
}

.div-24 {
  background-image: url("../images/photo24.jpg");
  background-size: cover;
  background-position: center;
}
.div-24 h1 {
  width: 65%;
  font-size: 3rem;
}
.div-24 h1 span {
  color: #e4b96c;
}

.div-25 {
  background-image: url("../images/photo25.jpg");
  background-size: cover;
  background-position: center;
}
.div-25 h1 {
  width: 65%;
  font-size: 3rem;
}
.div-25 h1 span {
  color: #e4b96c;
}

.div-26 {
  background-image: url("../images/photo26.jpg");
  background-size: cover;
  background-position: center;
}
.div-26 h1 {
  width: 65%;
  font-size: 3rem;
}
.div-26 h1 span {
  color: #e4b96c;
}

.div-27 {
  background-image: url("../images/photo27.jpg");
  background-size: cover;
  background-position: center;
}
.div-27 h1 {
  width: 65%;
  font-size: 3rem;
}
.div-27 h1 span {
  color: #e4b96c;
}

.div-28 {
  background-image: url("../images/photo28.jpg");
  background-size: cover;
  background-position: center;
}
.div-28 h1 {
  width: 65%;
  font-size: 3rem;
}
.div-28 h1 span {
  color: #e4b96c;
}

.div-29 {
  background-image: url("../images/photo29.jpg");
  background-size: cover;
  background-position: center;
}
.div-29 h1 {
  width: 65%;
  font-size: 3rem;
}
.div-29 h1 span {
  color: #e4b96c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
* ul {
  list-style: none;
}
* a {
  text-decoration: none;
}

nav {
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: transparent;
  transition: all 0.3s;
  overflow: hidden;
}
nav .nav-box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  font-size: 0.8rem;
  font-weight: bold;
}
nav .nav-box img {
  width: 4rem;
}
nav .nav-box div {
  position: relative;
}
nav .nav-box div ul {
  display: flex;
  gap: 2rem;
  cursor: pointer;
  margin-right: 3.6rem;
  transform: translateX(0%);
}
nav .nav-box div ul a {
  color: white;
}
nav .nav-box div ul a:hover {
  color: #e4b96c;
}
@media (max-width: 991px) {
  nav .nav-box div ul {
    flex-direction: column;
    background-color: #191919;
    width: 22rem;
    position: fixed;
    right: -6.4rem;
    top: -48px;
    height: 49rem;
    padding: 12rem 2rem;
    margin-right: 0;
    transform: translateX(90%);
  }
}
nav .nav-box div .slide-nav {
  cursor: pointer;
  position: absolute;
  right: -53px;
  z-index: 88;
  top: -1px;
  width: 6rem;
  display: flex;
  justify-content: space-between;
}
nav .nav-box div .slide-nav i {
  font-size: 1rem;
}
nav .nav-box div .slide-nav i:hover {
  color: #e4b96c;
}
nav .nav-box div .slide-nav > div:hover .og {
  margin-left: 0.2rem;
}
nav .nav-box div .slide-nav > div span {
  width: 1rem;
  background-color: #fff;
  height: 0.12rem;
  margin: 0.2rem;
  display: block;
}
nav .nav-box div .slide-nav > div .og {
  margin-left: 8px;
  transition: 0.4s;
}
@media (max-width: 767px) {
  nav .nav-box div .slide-nav {
    right: 0;
  }
}

.btn {
  border: none !important;
  padding: 0 !important;
  margin-bottom: 3rem;
  color: #e4b96c;
  margin-left: 1rem;
  transition: all 0.5s;
  cursor: pointer;
}
.btn i {
  color: #e4b96c;
  font-size: 0.7rem;
  transition: all 0.5s;
}
.btn a {
  color: #e4b96c;
  margin-left: 1rem;
  transition: all 0.5s;
}
.btn:hover i {
  margin-left: 0.9rem;
}
.btn:hover a {
  margin-left: 0rem;
}

.btn-2 {
  border: none !important;
  padding: 0 !important;
  margin-bottom: 3rem;
}
.btn-2 i {
  margin: 0.5rem;
  font-size: 0.9rem !important;
  transition: all 0.5s;
  display: inline !important;
}
.btn-2 a {
  color: white;
  margin-left: 1rem;
  transition: all 0.5s;
}
.btn-2:hover i {
  color: #e4b96c;
}
.btn-2:hover a {
  color: #e4b96c;
}

.r-btn {
  right: -8px;
}

.l-btn {
  left: 7px;
}

.container {
  width: 88%;
  margin: auto;
  padding: 2.6rem;
}
@media (max-width: 767px) {
  .container {
    width: 100%;
  }
}

body {
  background-color: #000;
  color: white;
}

header {
  background-image: url(../../../images/bg7-scaled.jpg);
}
header .head-box p {
  margin-top: 6rem;
}
header .head-box h1 {
  width: 45%;
  font-size: 3.3rem;
}
header .head-box div {
  width: 40%;
  padding: 0 2rem;
  border-left: 0.2rem solid #e4b96c;
  font-size: 0.99rem;
  font-weight: 500;
  margin-bottom: 2rem;
  line-height: 1.7;
}
header .head-box div span {
  font-weight: 700;
}
header .head-footer {
  margin-bottom: 6rem;
}
header .head-footer .bottom-header {
  display: flex;
  justify-content: space-between;
}
header .head-footer .head-footer-r {
  display: flex;
  gap: 1.5rem;
  color: #525252;
  align-items: flex-end;
}
header .head-footer .head-footer-r .group-spans {
  width: 22rem;
  display: flex;
  gap: 1em;
  border-bottom: 2px solid #525252;
}
header .head-footer .head-footer-r .group-spans .group span {
  width: 0.1rem;
  height: 2rem;
  background-color: #525252;
}
header .head-footer .head-footer-l {
  cursor: pointer;
}
header .head-footer .head-footer-l i {
  font-size: 1.2rem;
  margin-right: 0.8rem;
}
header .head-footer .head-footer-l i:hover {
  color: #e4b96c;
}
header .head-footer .head-footer-l a {
  color: white;
  transition: all 0.3s;
}
header .head-footer .head-footer-l a:hover {
  color: #e4b96c;
}

.slide-sec {
  display: flex;
  width: 154%;
  transform: translateX(-13%);
  margin-bottom: 6rem;
  flex-direction: row;
}
@media (max-width: 991px) {
  .slide-sec {
    width: 100%;
    flex-direction: column;
  }
}
.slide-sec .part {
  position: relative;
  max-width: 33rem;
  height: 25rem;
  overflow: hidden;
  margin-right: 2rem;
  transition: all 0.4s;
}
@media (max-width: 991px) {
  .slide-sec .part {
    margin: auto;
    margin-top: 2rem;
  }
}
.slide-sec .part .btn {
  position: absolute;
  bottom: -35rem;
  right: 4rem;
  transition: all 0.4s;
}
.slide-sec .part img {
  width: 95%;
  height: 100%;
  object-fit: cover;
}
.slide-sec .part h2 {
  position: absolute;
  right: -13rem;
  top: 16rem;
  width: 100%;
  font-size: 2.6rem;
  overflow: hidden;
  height: 3rem;
  transform: rotate(90deg);
  transition: all 0.4s;
}
.slide-sec .part:hover {
  transform: scale(1.2);
}
.slide-sec .part:hover .btn {
  bottom: 1rem;
  right: 8rem;
}
.slide-sec .part:hover h2 {
  color: #e4b96c;
}
.slide-sec .part::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #fff;
  right: 6rem;
}

.bar-sec {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6rem;
}
@media (max-width: 991px) {
  .bar-sec {
    flex-direction: column;
  }
}
.bar-sec div {
  text-align: center;
  line-height: 2;
  position: relative;
}
.bar-sec div i {
  font-size: 1.9rem;
  display: block;
  margin-bottom: 1rem;
}
.bar-sec div h3 {
  font-size: 1.2rem;
  font-weight: 400;
}

.aboutMe {
  background-image: url(../../../images/memphis2.png);
  background-repeat: no-repeat;
  margin-bottom: 6rem;
}
.aboutMe .about .left-baout {
  flex-basis: 48%;
}
@media (max-width: 991px) {
  .aboutMe .about .left-baout {
    flex-basis: 100%;
  }
}
.aboutMe .about .left-baout h1 {
  width: 65%;
  font-size: 3rem;
}
.aboutMe .about .left-baout h1 span {
  color: #e4b96c;
}
.aboutMe .about .left-baout div {
  margin-bottom: 3rem;
}
.aboutMe .about .left-baout details {
  margin-bottom: 2rem;
  cursor: pointer;
  position: relative;
}
.aboutMe .about .left-baout details h4 {
  font-weight: 400;
  padding: 1rem;
}
.aboutMe .about .left-baout details::before {
  content: "";
  position: absolute;
  right: 2rem;
  width: 0.13rem;
  height: 0.8rem;
  background-color: #e4b96c;
}
.aboutMe .about .left-baout details::after {
  content: "";
  position: absolute;
  right: 2rem;
  top: 0;
  transform: rotate(90deg);
  width: 0.13rem;
  height: 0.8rem;
  background-color: #e4b96c;
}
.aboutMe .about .right-about {
  flex-basis: 48%;
  height: 30rem;
}
@media (max-width: 991px) {
  .aboutMe .about .right-about {
    flex-basis: 100%;
  }
}
.aboutMe .about .right-about iframe {
  width: 100%;
  height: 100%;
}

.works {
  text-align: center;
}
.works h3 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.works h3 span {
  color: #e4b96c;
}
.works ul {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  cursor: pointer;
  margin-bottom: 3rem;
}
.works ul li {
  transition: 0.3s;
}
.works ul li:hover {
  color: #e4b96c;
}
.works .main-container {
  display: grid;
  grid-template-columns: repeat(4, 23%);
  grid-template-rows: repeat(3, 16rem);
  justify-content: space-evenly;
  gap: 2rem;
  margin-bottom: 2rem;
}
.works .main-container .div {
  transition: 0.6s;
}
.works .main-container .div .box {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  text-align: left;
  padding: 1rem;
  text-transform: capitalize;
  position: relative;
  transition: 0.6s;
  cursor: pointer;
}
.works .main-container .div .box h4 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.works .main-container .div .box p {
  font-weight: normal;
  font-size: 0.9rem;
}
.works .main-container .div .box::before {
  content: "";
  position: absolute;
  top: 4%;
  left: 1rem;
  width: 0.1rem;
  height: 1.4rem;
  background-color: #fff;
  transition: all 0.6s;
}
.works .main-container .div .box::after {
  content: "";
  position: absolute;
  top: 4%;
  transform: rotate(90deg);
  left: 1rem;
  width: 0.1rem;
  height: 1.4rem;
  background-color: #fff;
  transition: all 0.6s;
}
.works .main-container .div:hover .box {
  display: flex;
}
.works .main-container .specil-box {
  grid-row: 1/3;
  grid-column: 3;
}
.works .main-container .specil-box-2 {
  grid-row: 2/4;
  grid-column: 4;
}
.works .main-container .specil-box-3 {
  grid-row: 4/6;
  grid-column: 1;
}
.works .main-container .specil-box-4 {
  grid-row: 5/7;
  grid-column: 2;
}
.works .main-container .specil-box-5 {
  grid-row: 6/8;
  grid-column: 3;
}
.works .main-container .specil-box-6 {
  grid-row: 7/9;
  grid-column: 4;
}
.works .main-container .specil-box-7 {
  grid-row: 9/11;
  grid-column: 1;
}

.my-clients {
  background-image: url(../../../images/memphis2.png);
  background-repeat: no-repeat;
  background-position: left;
  margin-bottom: 6rem;
}
.my-clients .clients .client-box {
  display: flex;
  flex-basis: 33%;
  flex-direction: column;
  justify-content: space-evenly;
}
@media (max-width: 991px) {
  .my-clients .clients .client-box {
    flex-basis: 100%;
  }
}
.my-clients .clients .client-box h1 {
  width: 65%;
  font-size: 3rem;
}
.my-clients .clients .client-box h1 span {
  color: #e4b96c;
}
.my-clients .clients .client-box div {
  margin-bottom: 3rem;
}
.my-clients .clients .client-logo {
  flex-basis: 64%;
  align-self: center;
  position: relative;
  overflow: hidden;
}
@media (max-width: 991px) {
  .my-clients .clients .client-logo {
    flex-basis: 74%;
    margin: auto;
  }
}
.my-clients .clients .client-logo > div {
  transition: 0.3s;
  width: 168%;
  display: flex;
  height: 17rem;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
}
@media (max-width: 991px) {
  .my-clients .clients .client-logo > div {
    flex-direction: column;
    align-items: center;
    height: 18.7rem;
  }
}
.my-clients .clients .client-logo > div div {
  width: 14rem;
  display: flex;
}
.my-clients .clients .client-logo > div div img {
  margin: auto;
  transition: 0.4s;
}
.my-clients .clients .client-logo > div div img:hover {
  opacity: 0.5;
}

.share {
  text-align: center;
  margin-bottom: 0.6rem;
  overflow: hidden;
}
.share h3 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.share h3 span {
  color: #e4b96c;
}
.share p {
  font-weight: bold;
}
.share p a {
  color: rgba(128, 128, 128, 0.815);
  transition: 0.4s;
}
.share p a:hover {
  color: #e4b96c;
}
.share div {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 3rem;
}
.share div img {
  width: 13rem;
  height: 13rem;
}

footer {
  background-color: #272727;
}
footer > div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  line-height: 1.3;
  border-bottom: 1px solid #3d3d3d;
  padding: 2rem !important;
}
footer > div > div {
  display: flex;
  flex-basis: 22%;
  flex-direction: column;
  gap: 2rem;
}
footer > div > div h6 {
  font-size: 1.2rem;
}
footer > div > div p {
  font-size: 0.9rem;
}
footer > div > div p span {
  margin-left: 1rem;
}
@media (max-width: 991px) {
  footer > div .form {
    flex-basis: 100%;
  }
}
footer > div .form img {
  width: 4rem;
}
footer > div .form div {
  position: relative;
}
footer > div .form div input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #3d3d3d;
  outline: none;
  font-size: 0.8rem;
  transition: 1s;
  padding: 0.2rem;
}
footer > div .form div span {
  width: 0%;
  display: block;
  background-color: #e4b96c;
  position: absolute;
  height: 1px;
  bottom: 0px;
  transition: 0.8s;
}
footer > div .form .btn {
  margin-left: 0 !important;
  margin-bottom: 0 !important;
}
footer > div .form .btn i {
  color: white;
  font-size: 0.8rem;
}
footer > div .form .btn a {
  color: white;
}
footer > div .form .btn:hover i {
  margin-left: 0.7rem;
  color: #e4b96c;
}
footer > div .form .btn:hover a {
  margin-left: 0.6rem !important;
  color: #e4b96c;
}
@media (max-width: 991px) {
  footer > div .adress {
    flex-basis: 32%;
    margin: 2rem 0;
  }
}
@media (max-width: 767px) {
  footer > div .adress {
    flex-basis: 100%;
    margin: 2rem 0;
  }
}
@media (max-width: 991px) {
  footer .posts {
    flex-basis: 32%;
    margin: 2rem 0;
  }
}
@media (max-width: 767px) {
  footer .posts {
    flex-basis: 100%;
  }
}
footer .posts div {
  font-size: 0.9rem;
}
footer .posts div a {
  transition: 0.4s;
  display: block;
  color: #a1a1a1;
  display: block;
  font-weight: bold;
}
footer .posts div a:hover {
  color: #e4b96c;
}
@media (max-width: 991px) {
  footer .comments {
    flex-basis: 32%;
    margin: 2rem 0;
  }
}
@media (max-width: 767px) {
  footer .comments {
    flex-basis: 100%;
  }
}
footer .comments div {
  font-size: 0.9rem;
  color: #a1a1a1;
  font-weight: bolder;
}
footer .comments div a {
  transition: 0.4s;
  color: white;
  font-weight: normal;
}
footer .comments div a:hover {
  color: #e4b96c;
}
footer .end {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: 0.7rem;
  color: #898989;
}
footer .end a {
  color: #898989;
  transition: 0.4s;
}
footer .end a:hover {
  color: #e4b96c;
}

/*# sourceMappingURL=home.css.map */
