
 @for $i from 1 through 29 {
    .div-#{$i}{
        background-image: url("../../../images/photo#{$i}.jpg");
        background-size: cover;
       background-position: center;
       h1{
               width: 65%;
               font-size: 3rem;
               span{
                   color: $secondColor;
                }
           }
    }
}  