*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    ul{list-style: none; }
    a{text-decoration: none;}
}
nav{   
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: transparent;
    transition:all .3s ;
    overflow: hidden;
    .nav-box{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        text-transform:capitalize;
        font-size: .8rem;
        font-weight: bold;
        
        img{
            width: 4rem;
        }
        div{
            position: relative;
            
            ul{
                display: flex;
                gap:2rem;
                cursor: pointer;
                margin-right: 3.6rem;
                transform: translateX(0%);
                a{
                    color: $mainColor;
                    &:hover{
                        color: $secondColor;
                    }
                }
               
               
                @media (#{$maxSmall}) {
                    flex-direction: column;
                    background-color: #191919;
                    width: 22rem;
                    position: fixed;
                    right: -6.4rem;
                    top: -48px;
                    height: 49rem;
                    padding: 12rem 2rem;
                    margin-right: 0;
                    transform: translateX(90%);

                }
            }
            .slide-nav{           
                cursor: pointer;
                position: absolute;
                right: -53px;
                z-index: 88;
                top: -1px;
                width: 6rem;
                display: flex;
                justify-content: space-between;
                i{
                    font-size: 1rem;
                    &:hover{
                        color: $secondColor;
                    }
                }
                
                > div{
                    &:hover{ 
                          .og{
                          margin-left: 0.2rem;
                           }
                       }
                  span{
                      width: 1rem;
                      background-color: #fff;
                      height: 0.12rem;
                      margin: 0.2rem;
                      display: block;
                                  
              }
              .og{
                  margin-left: 8px;
                  transition:.4s;
              }
                 
                }
                @media (#{$maxMobile}) {
                    right: 0;
                
                }
                }
            }
            
        }
    }
