body{
    background-color: #000;
    color: $mainColor;
    font-family: 'Montserrat';
}

.fram-ul{
    list-style: none;
    li{
        font-size: 1.2rem;
        position: relative;
        transition:all 1s;
        cursor: pointer;
        &:hover{
            transition: 1s;
            &::after{
                content: "";
                position: absolute;
                width: .8rem;
                height: .1rem;
                background-color: $secondColor;
                left: 0;
                bottom: 0;
                transition: 1s;
            }
        }
    }
}
.float{
    position: relative;
    overflow: hidden;
    transition:all 1S;
    > div:not(:first-child) {
        position: absolute;
        top: 24rem;
        left: 0;
        background-color: #000;
        z-index: 0;
        transition:all 1S;
    }
}
.active-li{
    color: $secondColor;
    &::after{
        content: "";
        position: absolute;
        width: 4rem;
        height: .1rem;
        background-color: $secondColor;
        left: 0;
        bottom: 0;
        transition: 1s;
    }
}
// top: 24rem;

.container{
    max-width: 1267px;
}
.line{
    position: relative;
    &::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: -.4rem;
        width: 2rem;
        height: .1rem;
        background-color:$secondColor;
    }
}
.counter{
    i{
    color: $secondColor;
    }
}
.team{
    h3{
        span{
            color: $secondColor
        }
    }
    i{
        transition: .4s ;
        cursor: pointer;
        &:hover{
            color: $secondColor;
        }
    }
}
.spans{

    span{
        height: .2rem; 
        background-color:$secondColor;
        position: relative;
    transition: 2s;
        width: 30%;
        &::after{
            content: attr( data-width) ;
            padding-left: -1rem;
            position: absolute;
            right: 0%;
            bottom: 0%;
            height: 2rem;
            width: .02rem;
            background-color: $secondColor;
        }
    }
}


#Ndiv{
    a{
        cursor: pointer;
        transition: .6s;
        text-decoration: none;
        color: white;
        &:hover{
            color: $secondColor;
        }
    }
}
.activee{
    color: $secondColor !important;
}