body{
    background-color: #000;
    color: $mainColor;
    font-family: 'Montserrat';
}
#Ndiv{
    a{
        cursor: pointer;
        transition: .6s;
        text-decoration: none;
        color: white;
        &:hover{
            color: $secondColor;
        }
    }
}
.activee{
    color: $secondColor !important;
}
a{
    text-decoration: none;
}
form{
    span{
        color: $secondColor !important;
    }
}