.btn{
    border: none !important;
    padding: 0 !important;
    margin-bottom: 3rem;
    color: $secondColor;
    margin-left: 1rem;
    transition: all .5s;
    cursor: pointer;
    i{
        color: $secondColor;
        font-size: .7rem;
        transition: all .5s;
    }
    a{
        color: $secondColor;
        margin-left: 1rem;
        transition: all .5s;

    }
    &:hover{
        i{
            margin-left: .9rem;
        }
        a{
            margin-left: 0rem;
        }
    }
}
.btn-2{
    border: none !important;
    padding: 0 !important;
    margin-bottom: 3rem;
    i{
        margin: .5rem;
        font-size: .9rem !important;
        transition: all .5s;
        display: inline !important;
    }
    a{
      color: $mainColor;
        margin-left: 1rem;
        transition: all .5s;

    }
    &:hover{
        i{
          color: $secondColor;
            
        }
        a{
            color: $secondColor;        }
    }

}

.r-btn{
   @extend %btn;
   right: -8px;
}
.l-btn{
    @extend %btn;
    left: 7px;
}